/* FONTS ************************************/
@font-face {
	font-family: marker;
	src: url(fonts/PermanentMarker-Regular.ttf);
}
@font-face {
	font-family: reggae;
	src: url(fonts/ReggaeOne-Regular.ttf);
}
@font-face {
	font-family: sat;
	src: url(fonts/Satisfy-Regular.ttf);
}
/**********************************************/
body {
	display: flex;
	  justify-content: center;
 background-color: #fffbd9;
}

h1 {
	font-family: marker;
}

p {
	font-family: sat;
}
#container{
	position: relative;
	top: 100px;
	width: 500px;
}

#hero-image {
display: flex;
justify-content: center;
position: absolute;
margin-bottom: 250px;
margin-left: 100px;
z-index: 1;
}

#hero-image img {
	width: 250px;
	height: 500px;
}
#smoke {
display: flex;
justify-content: left;
}

#smoke img {
	width: 600px;
	height: 500px;
}
#content-box{
	background: #FFF;
	padding: 15px;
	margin-bottom: 15px;
}

ul {
list-style-type: none;
margin: 25px;
padding: 0px;
display: flex;
justify-content: center;
}

a {
	font-family: reggae;
	text-decoration: none;
	padding: 5px;
	color: black;
}
a:hover{
	background: #ccc;
	color: white;
}

#slider {
	overflow: hidden;
}
	#slider figure {
		position: relative;
		width: 500%;
		margin: 0;
		left: 0;
		animation: 20s slider infinite;
}
#slider figure img {
		width: 20%;
		float: left;
}

@keyframes slider {
		0% {
			left: 0;
		}
		20% {
			left: 0;
		}
		25% {
			left: -100%;
		}
		45% {
			left: -100%;
		}
		50% {
			left: -200%;
		}
		70% {
			left: -200%;
		}
		75% {
			left: -300%;
		}
		95% {
			left: -300%;
		}
		100% {
			left: -400%;
		}
}
#firebox {
	margin-bottom: 550px;
}
#fire {
position: absolute;
	animation-play-state: inherit;
	top: 120px;
	left: 150px;
}
		.red {
		    width: 200px;
		    height: 200px;
		    background: orangered;
		    box-shadow: 0px 0px 10px 5px orangered;
		}
		.orange {
		    left:10px;
		    width: 160px;
		    height: 160px;
		    background: orange;
		    box-shadow: 0px 0px 12px 6px orange;
		}
		.gold {
		    left:18px;
		    width: 130px;
		    height: 130px;
		    background: gold;
		    box-shadow: 0px 0px 9px 4px gold;
		}
		.white {
		    left:22px;
		    width: 110px;
		    height: 110px;
		    background: lightyellow;
		    box-shadow: 0px 0px 9px 4px lightyellow;
		}
		.flame-wrapper {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		}
		.flame {
		    bottom: 0;
		    position: absolute;
		    border-radius: 50% 0% 50% 50%;
		    transform: rotate(-45deg);
		}
		@keyframes flicker {
		    0% {transform: rotate(-2deg);}
		    20% {transform: rotate(3deg) scaleY(1.5);}
		    40% {transform: rotate(-2deg);}
		    60% {transform: rotate(2deg);}
		    80% {transform: rotate(-2deg) scaleY(1);}
		    100% {transform: rotate(2deg);}
		}
		#hero-image:hover + #fire {
			animation: flicker 1ms ease-in infinite;
			animation-play-state: running;
